{% extends 'base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block body %}
    <h1>Stats</h1>

    <table class="min-w-full text-left text-sm font-light"  >
        <tbody>
            <tr>
                <th scope="col" class="px-6 py-4">Id</th>
                 <td class="whitespace-nowrap px-6 py-4" >{{ stat.id }}</td>
            </tr>
            <tr>
                <th scope="col" class="px-6 py-4">Annee</th>
                 <td class="whitespace-nowrap px-6 py-4" >{{ stat.annee }}</td>
            </tr>
            <tr>
                <th scope="col" class="px-6 py-4">Taux</th>
                 <td class="whitespace-nowrap px-6 py-4" >{{ stat.taux }}</td>
            </tr>
             <tr>
                <th scope="col" class="px-6 py-4">Niveau</th>
                 <td class="whitespace-nowrap px-6 py-4" >{{ stat.obtenirFormation.titre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_stats_index') }}">Retour vers la liste</a>

    <a href="{{ path('app_stats_edit', {'id': stat.id}) }}">Modifier</a>

    {{ include('admin/stats/_delete_form.html.twig') }}
{% endblock %}
