{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
            <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                <th scope="col" class="px-6 py-4">Id</th>
                <th scope="col" class="px-6 py-4">Titre</th>
                <th scope="col" class="px-6 py-4">Resume</th>
                <th scope="col" class="px-6 py-4">Description</th>
                <th scope="col" class="px-6 py-4">Url</th>
                <th scope="col" class="px-6 py-4">Duree_heure</th>
                <th scope="col" class="px-6 py-4">Duree_hentreprise</th>
                <th scope="col" class="px-6 py-4">Duree_mois</th>
                <th scope="col" class="px-6 py-4">Image</th>
                <th scope="col" class="px-6 py-4">Domaines</th>
                <th scope="col" class="px-6 py-4">Niveau</th>
                <th scope="col" class="px-6 py-4">Actif</th>
                <th scope="col" class="px-6 py-4">Actions</th>
                </tr>
            </thead>
            <tbody>
                  {% for formation in formations %}
                <tr class="border-b transition duration-300 ease-in-out hover:bg-white hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium" >{{ formation.id }}</td>
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.titre }}</td>
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.resume }}</td>
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.description }}</td>
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.url }}</td>
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.dureeHeure }}</td>
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.dureeHentreprise }}</td>
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.dureeMois }}</td>
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.image }}</td>
                <td class="whitespace-nowrap px-6 py-4" >
                    {% for domaine in formation.appartenirDomaine %}
                        {{ domaine.titre }}
                    {% endfor %}
                </td>
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.niveau.titre }}</td>   
                <td class="whitespace-nowrap px-6 py-4" >{{ formation.actif ? 'actif' : 'Non actif' }}</td>
                <td class="whitespace-nowrap px-6 py-4" >
                    <a href="{{ path('app_formation_show', {'id': formation.id}) }}">Aperçu</a>
                    <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr  class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600" >
                <td class="whitespace-nowrap px-6 py-4" >no records found</td>
            </tr>
        {% endfor %}
            </tbody>
            </table>
            <a href="{{ path('app_formation_new') }}">Créer</a>
        </div>
        </div>
    </div>
    </div>
    
{% endblock %}
