    <footer>
    <div class="footer_ensemble bg-cover p-8 ">
			<div class="logo_F w-32 pt-8 lg:ml-auto "><img src="{{ asset('build/images/UIMM-Region-ChampagneArdenne-Rvb-1024x950.png')}}"></div>
       			<div class="titre_footer">
					<div class=" Qui_somme_nous text-lg text-white hover:text-tahiti-500" href="">Qui somme nous ?<br></div>
					<a class=" Formation_continue text-lg text-white hover:text-tahiti-500" href="{{ path('app_formation', { 'type': 2 }) }}">Formation Continue<br></a>
					<div class=" Demandeurs_demploi text-lg text-white hover:text-tahiti-500" href="">Demandeurs d'emploi<br></div>
					<a class=" Offre_Alternance text-lg text-white hover:text-tahiti-500" href=""> Offre Alternance<br></a>
					<div class=" Nos_vidéos text-lg text-white hover:text-tahiti-500" href="">Nos vidéos<br></div>
					<div class=" Contactez-nous text-lg text-white hover:text-tahiti-500" href="">Contactez-nous<br></div>
				</div>

					<div id="titre_footer2">
   						    <a class="Formation_Alternance text-lg hover:text-tahiti-500" href="{{ path('app_formation', { 'type': 1 }) }}">Formation Alternance<br></a>
    						<div class="Salarie text-lg hover:text-tahiti-500" href=""> Salariés<br></div>
							<div class="Entreprise text-lg hover:text-tahiti-500" href="">Entreprise<br></div>
							<div class="Prescripteur text-lg hover:text-tahiti-500" href="">Prescripteur<br></div>
							<div class="Nos_centre text-lg hover:text-tahiti-500" href="">Nos centre<br></div>
    				</div>

   	</div>	
  
   <div class="partenaire">
   		<div class="div_logo"><img src="{{ asset('build/images/leuro_sengage_grand_est.PNG')}}"/></div>
   		<div class="div_logo"><img src="{{ asset('build/images/Grand EST.PNG')}}"/></div>
   		<div class="div_logo"><img src="{{ asset('build/images/Lemplois_jeune.PNG')}}"/></div>
   		<div class="div_logo"><img src="{{ asset('build/images/Union Europeenne.PNG')}}"/></div>
   </div>

   <div class="footer_fin text-white bg-tahiti-400 py-5 text-xs text-center">
   <p >© 2023 Pôle Formation UIMM Champagne-Ardenne - Tous droits réservés - Mentions Légales</p>
   </div>
    </footer>