{% extends 'base.html.twig' %}

{% block title %}UIMM - Detail de la formation {{formation.titre}} {% endblock %}

        {% block javascripts %}
        {{ parent() }}
            {{ encore_entry_script_tags('ancre') }}
        {% endblock %}

{% block body %}


    {% include('partials/_navbar.html.twig') %}
{# border-2 border-[black] #}
    <div class="w-full bg-[#EBECF0] pt-8 pb-14">
        <div class=" bg-[#E8E8E8] w-7/12 premier_div_detail_formation mx-auto">
            <div class="hauteur_detail_formation  mx-auto flex flex-row justify-around py-14">
                <div class="div123 border-0 border[black]">
                    <div class="taille_image ml-16">
                        <img src="{{ asset('build/images/' ~ formation.image) }}" alt="picture" class="ombre_photo bg-center">
                    </div>
                </div>
                <div class="cadre_droit w-[40%] flex flex-col justify-center h-[600px] mt-14 pl-8">                
                    <div class="div_titre font-extrabold text-2xl opensauce">{{formation.titre}}</div>
                    <div class="div_niv text-[orange] font-bold my-8 librebaskerville">{{formation.niveau.titre}} ({{formation.niveau.description}})</div>
                    <div class="div_description my-8 pr-4 librebaskerville">{{formation.description}}</div>
                    <div class="div_description">
                        <a href="#detail" type="button" class="librebaskerville plusinfo inline-block rounded bg-[#112c50] px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#54b4d3] transition duration-150 ease-in-out hover:bg-[#112c50] hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:bg-info-600 focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:outline-none focus:ring-0 active:bg-info-700 active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)]">
                            Plus d'informations
                        </a>
                    </div>
                </div>
            </div>

            <div class="div_deux flex flex-row justify-center min-h-[250px] mt-20" id="detail">
                <div class="div_gauche w-[50%]">
                    <div class="titre pl-[100px] text-[orange] font-bold text-3xl opensauce">Métiers visés</div>
                    <div class="detail pl-[100px] pt-10 librebaskerville">          
                        {% for form in formation.viserMetier %}

                            <li class="pl-1"> {{form.titre}} : {{form.description}}</li>
                                                
                        {% endfor %}
                    </div>
                </div>
                <div class="div_droite w-[50%]"> 
                    <div class="titre pl-[100px] text-[orange] font-bold text-3xl opensauce">Candidater</div>
                    <div class="detail pl-[100px] pt-10 librebaskerville">
                        Je candidate
                    </div>
                </div>
            </div>
    {# {{formation.appartenirDomaine[0].image}}         <img src="{{ asset( test ) }}" alt="picture"> #}

        {% set test = formation.appartenirDomaine[0].image %}

            {# <div class="w-full mt-16 flex flex-row bg-cover" style="background-image:url('{{ test }}')">  #}
            <div class="w-full mt-16 flex flex-row bg-cover bg-center h-[600px]"
            style="background-image:url({{ asset('build/images/' ~ test) }})">


                <div class="div_gauche w-[50%] bg-primary-600/40 pt-8">
                    <div class="div_titre w-full pl-[100px] text-[orange] font-bold text-3xl pt-8 mb-8 opensauce">Conditions d'accès</div>
                    <div class="div pl-[100px] text-[white] librebaskerville">
                        {% for form in formation.possederCondition %}

                            <li class="pl-1"> {{form.description}}</li>
                                                    
                        {% endfor %}
                    </div>
                    <div class="mt-7" >
                        <div class="div_titre w-full pl-[100px] text-[orange] font-bold text-3xl mb-8 opensauce">Domaine</div>
                        <div class="div pl-[100px] text-[white] librebaskerville">
                            {% for form in formation.appartenirDomaine %}

                                {{form.titre}}<br>
                                            
                            {% endfor %}
                    </div>
                    </div>
                </div>
                <div class="div_droite w-[50%] bg-primary-600/40 pt-8">
                    <div class="div_titre w-full pl-[100px] text-[orange] font-bold text-3xl pt-8 opensauce">Lieu</div>
                        <div class="div pl-[100px] text-[white] librebaskerville">
                            {% for form in formation.situer %}

                                <div class="w-[60%] mt-12">{{form.description|nl2br}}</div>
                            
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>

    {% include('partials/_footer.html.twig') %}

{% endblock %}
