{% extends 'base.html.twig' %}

{% block title %}UIMM - Nos formations{% endblock %}

{% block body %}



<h1 class="ml-1">Nos formations</h1>
{% for message in app.flashes('success') %}
	<div style="color:green; font-weight:bold">{{ message }}</div>
{% endfor %}

{{ form_start(form)}}
<div class="grid grid-cols-3 gap-4">
	<div class="relative mb-6 px-3" data-te-input-wrapper-init>
		{{ form_row(form.domaine) }}

	</div>
	<div class="relative mb-6 px-3" data-te-input-wrapper-init>
		{{ form_row(form.niveau) }}
	</div>
	<div class="relative mb-6 px-3" data-te-input-wrapper-init>
		{{ form_row(form.type) }}
	</div>

    </div>
	<button class="ml-4 rounded bg-primary px-5 text-white" type="submit">Filtrer</button>


	{{ form_end(form)}}

	<div class="relative px-3 mt-12">


    {% for formation in formations %}

        <div class="flex justify-center">
  <div
    class="mr-3 block max-w-sm rounded-lg bg-white text-center shadow-lg dark:bg-neutral-700">
    <div
      class="border-b-2 border-neutral-100 py-3 px-6 dark:border-neutral-600 dark:text-neutral-50">
      {{formation.titre}}
    </div>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
        Formation de niveau :
        {{formation.niveau.id}}
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
         Domaine :
         {% for domaine in formation.appartenirDomaine %}
                    {{ domaine.titre }}
                {% endfor %}
      </p>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
         Type de formation :
                        {% for type in formation.effectuerTypeFormation %}
                    {{ type.titre }}
                {% endfor %}
      </p>
      <button
        type="button"
        class="inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
        data-te-ripple-init
        data-te-ripple-color="light">
        Bouton
      </button>
    </div>
  </div>

   
    {% else %}
    Aucun résultat
        
    {% endfor %}

{% endblock %}
