{% extends 'base.html.twig' %}

{% block title %}Condition{% endblock %}

{% block body %}
    <h1>Condition</h1>

    <table class="min-w-full text-left text-sm font-light"  >
        <tbody>
            <tr>
                <th scope="col" class="px-6 py-4">Id</th>
                 <td class="whitespace-nowrap px-6 py-4" >{{ condition.id }}</td>
            </tr>
            <tr>
                <th scope="col" class="px-6 py-4">Description</th>
                 <td class="whitespace-nowrap px-6 py-4" >{{ condition.description }}</td>
            </tr>
            <tr>
                <th scope="col" class="px-6 py-4">Formation</th>
                 <td class="whitespace-nowrap px-6 py-4" >      {% for formation in condition.formations %}
                        {{ formation.titre }}
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_condition_index') }}">Retour vers la liste</a>

    <a href="{{ path('app_condition_edit', {'id': condition.id}) }}">Modifier</a>

    {{ include('admin/condition/_delete_form.html.twig') }}
{% endblock %}
