{% extends 'base.html.twig' %}

{% block title %}FraisScolarite{% endblock %}

{% block body %}
    <h1>FraisScolarite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ frais_scolarite.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ frais_scolarite.description }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td> {% for formation in frais_scolarite.formations %}
                        {{ formation.titre }}
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_frais_scolarite_index') }}">Retour vers la liste</a>

    <a href="{{ path('app_frais_scolarite_edit', {'id': frais_scolarite.id}) }}">Modifier</a>

    {{ include('frais_scolarite/_delete_form.html.twig') }}
{% endblock %}
