{% extends 'base.html.twig' %}

{% block title %}MetierVise{% endblock %}

{% block body %}
    <h1>MetierVise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metier_vise.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ metier_vise.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ metier_vise.description }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ metier_vise.url }}</td>
            </tr>
             <tr>
                <th>Formation</th>
                <td> {% for formation in metier_vise.formations %}
                        {{ formation.titre }}
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_metier_vise_index') }}">Retour vers la liste</a>

    <a href="{{ path('app_metier_vise_edit', {'id': metier_vise.id}) }}">Modifier</a>

    {{ include('metier_vise/_delete_form.html.twig') }}
{% endblock %}
